---
import Layout from '../layouts/layout.astro'
---

<Layout>
    <div class="area-wrapper h-screen p-16">
        <h1 class="home-header text-5xl text-gray-900 mb-8">
			Verwaltungskreis
		</h1>
        <span class="text-sm">Verwende die interaktive Karte um Därligens Vielfalt zu erkunden.</span>
        <div id="map"></div>
    </div>
</Layout>
