---
import Layout from '../layouts/layout.astro'
---

<Layout>
    <div class="area-wrapper h-screen p-16">
        <h1 class="home-header text-5xl text-gray-900">
			Verwaltungskreis
		</h1>
        <div class="map mt-8">
            <iframe src="https://www.google.com/maps/d/embed?mid=1El4yTobAe3W-20Bj7JtwqQkWZbyAWAg&hl=de&ehbc=2E312F" width="640" height="480"></iframe>
        </div>
    </div>
</Layout>
