---
import Layout from '../layouts/layout.astro'
---

<Layout>
    <div class="forestry-wrapper p-8 md:p-16">
        <h1 class="forestry-header text-5xl text-gray-900 mb-8">
			Forstbetrieb Thunersee Süd
		</h1>
        <p>
            Seit dem 1. Januar 2017 ist der Forstbetrieb Thunersee-Süd ein dem öffentlichen Recht unterliegendes selbständiges Gemeindeunternehmen. Die Gemischte Gemeinde Aeschi, die Burgergemeinde sowie die Einwohnergemeinden Leissigen, Krattigen und Wimmis sind Inhaber des Forstbetriebes. Dieser stellt sicher, dass die Waldungen der beteiligten Gemeinden fachgerecht bewirtschaftet werden und ihre Schutz-, Nutz- und Wohlfahrtsleistung dauerhaft erfüllen können.
            <br><br>
            Die Betriebsleitung ist zudem für die Beförsterung des Forstreviers Thunersee-Süd beauftragt und garantiert gemäss Leistungsauftrag des Kantons die hoheitlichen Leistungen.
            <br><br>
            Die Burgergemeinde Därligen ist noch nicht Mitglied des Forstbetriebes. Hingegen ist mit einer Leistungsvereinbarung sichergestellt, dass der Forstbetrieb Thunersee – Süd für die Burgergemeinde Därligen die gleiche Waldbewirtschaftung ausführt wie bei den Inhabern des Forstbetriebes.
        </p>
        <img src="fourth.png" class="forestry-image mt-8 mb-4" alt="Vogelperspektive">
    </div>
</Layout>