---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <div class="history-wrapper p-8 md:p-16">
    <h1 class="home-header text-5xl text-gray-900 mb-8">Geschichte</h1>
    <p>
      Bis zur Reformation waren die Kirchen zuständig für die Armenpflege,
      danach waren es die Dörfer. Im 17. Jahrhundert stieg die sogenannte
      Armenlast. Dies führte dazu, dass die Dörfer einander die Armen
      gegenseitig zuschoben, oder die mittellosen Bettler verdeckt von Ort zu
      Ort auf der Suche nach Lebensmitteln und Unterkunft herumzogen. In der
      Folge erliess die Berner Regierung im Jahre 1676 und 1679 das sogenannte
      «Bettelmandat», um etwas Ordnung in dieses Geschehen zu bringen. Jetzt
      musste jede Gemeinde alle ihre Einwohner, ob arm oder reich, als Burger
      anerkennen und jedem, der weiterzog, einen Heimatausweis ausstellen und
      darin versprechen, ihn jederzeit wieder aufzunehmen. Damit wurde das
      typische schweizerische Gemeindebürgerrecht geschaffen. Unbeabsichtigter
      Nebeneffekt war, dass damit der Personenkreis definiert wurde, welcher
      sich künftig als Burger einer Gemeinde bezeichnen konnte. Nach
      Hungersjahren wegen Kartoffelkrankheit beschloss beispielsweise eine
      ausserordentliche Burgergemeindeversammlung in Därligen am 18. März 1850
      auswanderungswilligen Burgern eine Beisteuer zwischen 50 und 200 Franken
      auszurichten.
      <br /><br />
      Die Burgergemeinde Därligen in der heutigen Form ist erst ums Jahr 1830 entstanden.
      Laut Gemeindeversammlungsprotokoll vom 15.10.1857 haben die Einwohner- und
      die Burgergemeinde in getrennten Versammlungen die Gemeindegüter ausgeschieden.
      Gestützt darauf wurde die Burgergemeinde als ehemalige alemannische Gemeinschaft
      verpflichtet, zugunsten der zu bildenen Einwohnergemeinde Güter abzutreten.
      Därligen als oberstes Dorf am linken Thunersee liegt zwischen Därliggrat und
      dem See, der tiefste Punkt befindet sich auf 567 m, der höchste auf 1'929 Meter
      über Meer. Därligen gehört zum Verwaltungskreis Interlaken-Oberhasli. In Därligen
      wohnen ca. 420 Personen, davon ca. 15 % BurgerInnen. Die politische Gemeinde
      hat eine Fläche von 949 ha, wovon 434 oder 46 % im Besitz der Burgergemeinde
      sind. Der Burgerbesitz besteht zum grössten Teil aus Wald, nämlich 340 ha sowie
      Wiesland und unproduktivem Boden. Der Nadelholzanteil beträgt etwas mehr als
      50 % (60 % Fichte, 35 % Tanne, 5 % Lärche). Das Laubholz setzt sich zusammen
      aus 70 % Buchen, 20 % Bergahorn, 10 % übrige (Linde, Esche, Nussbaum, Kirsche,
      Ulme und Eiche). Ein grosser Teil des Waldes ist Schutzwald, der entsprechend
      aufwendig gepflegt werden muss. Ohne Subventionen von Bund und Kanton kann
      der Wald kaum kostendeckend bewirtschaftet werden. Weil eine Burgergemeinde
      über keine Steuerhoheit verfügt und Därligen wenig andere Einkünfte hat, ist
      es schwierig die Laufende Rechnung ausgeglichen zu halten.
      <br /><br />
      Typische Burgergeschlechter sind
    </p>
    <div class="coats-wrapper flex flex-wrap mt-8 justify-between">
      <div class="bodmer text-center">
        <h3>Bodmer</h3>
        <img src="/Bodmer.png" class="w-32" />
      </div>
      <div class="dietrich text-center">
        <h3>Dietrich</h3>
        <img src="/Dietrich.png" class="w-32" />
      </div>
      <div class="meyer text-center">
        <h3>Meyer</h3>
        <img src="/Meyer.png" class="w-32" />
      </div>
      <div class="schaerz text-center">
        <h3>Schaerz</h3>
        <img src="/Schaerz.png" class="w-32" />
      </div>
      <div class="schick text-center">
        <h3>Schick</h3>
        <img src="/Schick.png" class="w-32" />
      </div>
      <div class="steuri text-center">
        <h3>Steuri</h3>
        <img src="/Steuri.png" class="w-32" />
      </div>
    </div>
    <div class="factory-history mt-16 bg-gray-100 h-16 flex items-center">
      <a class="pl-8 text-xl hover:text-yellow-400" href="ziegelei">
        Zur Geschichte der Ziegelei Därligen</a
      >
    </div>
  </div>
</Layout>
