---
import PostsOverview from "../components/sanity/posts-overview.astro";
import Layout from "../layouts/layout.astro";
---

<Layout>
	<div class="home-container p-8 md:p-16 2xl:gap-16">
		<div class="members-header text-5xl text-gray-900 mb-8">
            <h1>Herzlich willkommen</h1>
        </div>
		<p class="py-4">
			Därligen liegt als erstes Dorf am linken Thunerseeufer eingebettet zwischen Därliggrat und See. Der tiefste Punkt befindet sich auf 560 m und der höchste auf 1'900 m. Därligen gehört zum Verwaltungskreis Interlaken-Oberhasli.
		</p>
		<p class="pb-4">
			In Därligen gibt es sowohl eine Einwohnergemeinde als auch eine Burgergemeinde. Vielen Bürgerinnen und Bürgern ist unklar, was eine Burgergemeinde überhaupt ist und welche Aufgaben, Rechte aber auch Pflichten sie hat. Unse-re Homepage soll darüber Informationen liefern.
		</p>
		<div class="news-container flex flex-col lg:flex-row mt-4">		
			<div class="left-container">
				<div class="home-header text-2xl text-gray-900 font-medium">Aktuelles</div>
				<img src="first.png" class="home-image sm:w-[40rem] bg-gray-200 mt-8 mb-4" alt="Daerligen">
			</div>

			<div
				class="right-container lg:px-0 mt-12 max-h-[42rem] lg:max-h-[26rem] overflow-y-scroll lg:overflow-x-hidden scrollbar pr-8 md:pr-4"
				id="custom-scrollbar"
			>
				<PostsOverview />
			</div>
		</div>
	</div>
</Layout>

<style>
	#custom-scrollbar::-webkit-scrollbar-track {
		background-color: #f5f5f5;
	}

	#custom-scrollbar::-webkit-scrollbar {
		width: 8px;
		background-color: #f5f5f5;
	}

	#custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: #00579F;

		background-image: -webkit-gradient(
			linear,
			0 0,
			0 100%,
			color-stop(0.5, rgba(255, 255, 255, 0.2)),
			color-stop(0.5, transparent),
			to(transparent)
		);
	}
</style>
