---
import Layout from '../layouts/layout.astro'
---

<Layout>
 <div class="home-container flex flex-col lg:flex-row p-16">
	<div class="left-container ">
		<div class="home-header text-5xl text-gray-900">
			Aktuelles
		</div>
		<div class="home-image w-[36rem] h-96 bg-gray-200 mt-8">
			<!-- This is a placeholder for an image -->
		</div>
	</div>

	<div class="right-container lg:px-0">
	  <div class="event-wrapper max-h-[44rem]">
		<div class="event-item py-16 lg:py-0 lg:ml-8 2xl:px-8">
		  <div class="event-header text-2xl font-medium">
			Cool title
		  </div>
		  <div class="event-description mt-4">
			Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
			consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat,
			sed diam voluptua. At vero eos et accusam et justo duo dolores
		  </div>
		  <br>
		  <hr>
		</div>
	  </div>
	</div>
  </div>	  
</Layout>