---
import Layout from "../layouts/layout.astro";

// const memberData = {
//   name: "John Doe",
//   function: "Developer",
//   tasks: ["Coding", "Review", "Documentation"],
//   email: "john@example.com",
//   number: "123-456-7890",
//   img: "Steuri.png"
// };
const members = [
    {
        name: "Walter Dietrich",
        function: "Präsident",
        tasks: [
            'Vorsitz Burgerversammlung',
            'Vorsitz Burgerrat',
            'Verwaltungsbetrieb',
            'Budget, Finanzen'
        ],
        email: 'udwd.dietrich@quicknet.ch',
        number: '079 656 07 76',
        img: 'Dietrich.png'
    },
    {
        name: "Monika Schärz",
        function: "Vizepräsidentin",
        tasks: [
            'Vertretung Burgerpräsident',
            'Alpschaft',
            'Allmend',
            'Verträge'
        ],
        email: 'm.schaerz@hotmail.de',
        number: '079 382 75 63',
        img: 'Schaerz.png'
    },
    {
        name: "Daniela Steuri",
        function: "Burgerrat",
        tasks: [
            'Bäche',
            'Weganlagen',
            'Deponie Lee',
            'Forst'
        ],
        email: 'daniela.steurikadel@gmx.net',
        number: '',
        img: 'Steuri.png'
    },
    {
        name: "Justin Ceronio",
        function: "Burgerrat",
        tasks: [
            'Besondere Aufgaben'
        ],
        email: 'justinceronio@outlook.com',
        number: '076 815 11 15',
        img: 'Steuri.png'
    },
    {
        name: "Patricia Stauffer",
        function: "Burgerschreiberin / Burgerkassierin",
        tasks: [
            'Administrative Aufgaben'
        ],
        email: 'pasta@bluewin.ch',
        number: '079 422 85 14',
        img: ''
    },
];

import MemberCard from '../components/member-card.astro'
---

<Layout>

    

    <div class="members-container p-8 md:p-16">
        <div class="members-header text-5xl text-gray-900 mb-8">
            <h1>Mitglieder</h1>
        </div>
        <div class="member-rows flex flex-wrap gap-4 w-full md:mx-auto">
            {members.map((member) => (
                <MemberCard member={member} />
            ))}
        </div>
        <div class="organisation-wrapper xl:flex">
            <div class="wrapper-left organisation-container">
                <div class="organisation-header lg:text-5xl text-gray-900 mt-8 lg:mt-16">
                    <h1>Links / Mitgliedschaften</h1>
                </div>
                <hr class="mt-6">

                <h2 class="font-bold mt-8 uppercase">Aufsicht</h2>
                <ul class="list-disc pl-4 py-4">
                    <li><a href="https://www.rsta.dij.be.ch/de/start.html">Regierungsstatthalteramt Interlaken-Oberhasli</a></li>
                    <li>Amt für Gemeinden und Raumordnung AGR</li>
                    <li>Amt für Wald und Naturgefahren, Waldabteilung Alpen</li>
                    <li>BAFU Bundesamt für Umwelt</li>
                </ul>
                    
                <h2 class="font-bold mt-8 uppercase">Verbandsmitgliedschaften (Bund/Kanton)</h2>
                <ul class="list-disc pl-4 py-4">
                    <li>Weggenossenschaft Abendberg (Wilderswil, Därligen, Saxeten)</li>
                    <li>Waldbesitzerverband Frutigland</li>
                    <li>Gemeindeverband für die Erhaltung der Wälder in der Region Oberland Ost (GEWO)</li>
                    Mitglied/Geldgeber sind die politischen Gemeinden im ehemaligen Amtsbezirk Interlaken. Die BGD erhält Beiträge an die Holzernte, Jungwuchspflege und an Weganlagen nach Schadenereignissen
                </ul>

                <h2 class="font-bold mt-8 uppercase">Mitgliedschaften regional</h2>
                <ul class="list-disc pl-4 py-4">
                    <li><a href="https://www.vbbg.ch/">Verband Berner Burgergemeinden und burgerlicher Korporationen</a></li>
                    <li><a href="https://www.svbk.ch/">Schweizerischer Verband der Bürgergemeinden und Korporationen</a></li>
                    <li>Lignum Holzwirtschaft Bern bzw. BEO HOLZ, angeschlossen Berner Holzförderungsfonds BHFF</li>
                </ul>

                <h2 class="font-bold mt-8 uppercase">Mitgliedschaft kommunal</h2>
                <ul class="list-disc pl-4 py-4">
                    <li>Weggenossenschaft Rösti – Stutzwald, Därligen</li>
                </ul>
            </div>
            <img src="organigramm.png" class="organisation-image sm:h-[32rem] mt-8 mb-4 mx-auto" alt="Organigramm">
        </div>
        <div class="additional-info">
        <div class="organisation-header lg:text-5xl text-gray-900 mt-8 lg:mt-16">
            <h1>Burgergemeindeversammlung</h1>
        </div>
        <hr class="mt-6 mb-8">

        <p>Oberstes Organ sind die stimmberechtigten Burgerinnen und Burger mit Wohnsitz im Verwaltungskreis Interlaken-Oberhasli. Sie treffen sich jährlich mindestens zu zwei Versammlungen. Im ersten Halbjahr zur Genehmigung der Rechnung und im zweiten Halbjahr zur Beschlussfassung über das Budget der Erfolgsrechnung. Sie wählen den Präsidenten, den Vizepräsidenten und die Burgerräte.</p>
        <p>Stimmberechtigt sind</p>
        <ul class="list-disc pl-4 py-4">
            <li>Burgerinnen und Burger, die in Därligen Wohnsitz haben und Auswärtige mit 
  Wohnsitz im Verwaltungskreis Interlaken-Oberhasli, die sich im Stimmregister 
  eingetragen haben</li>
            <li>in kantonalen Angelegenheiten stimmberechtigt sind</li>
            <li>Die Stimmberechtigten werden gebeten, Mitteilungen betreffend Adresse oder Zivilstand der Burgergemeinde zu melden, damit Informationen zuverlässig zugestellt werden können.</li>
        </ul>
    </div>
    </div>
</Layout>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer components {
        .organisation-container  li {
            @apply py-2;
        }
    }
    
</style>
