---
import Layout from '../layouts/layout.astro'
---

<Layout>
    <div class="members-container p-16">
        <div class="members-header text-5xl text-gray-900 mb-8">
            Mitglieder
        </div>
        <div class="member-rows grid gap-4 grid-cols-4 w-full font-bold">
            <div class="first w-32 h-32 bg-blue-400 flex items-center justify-center">1</div>
            <div class="first w-32 h-32 bg-blue-400 flex items-center justify-center">2</div>
            <div class="first w-32 h-32 bg-blue-400 flex items-center justify-center">3</div>
            <div class="first w-32 h-32 bg-blue-400 flex items-center justify-center">4</div>

        </div>
    </div>	  
</Layout>