---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <div class="property-wrapper p-8 md:p-16">
        <h1 class="property-header font-serif font-bold text-5xl text-gray-900 mb-8">
			Liegenschaften
		</h1>
        <p>
            Wie bereits ausgeführt gehört der Burgergemeinde fast die halbe Gemeindefläche, nämlich 46 % oder 434 ha. Der grösste Teil ist Wald, Wiesland und unproduktives Land. Insbesondere verfügt die Burgergemeinde über kein Bauland. Aus diesem Grunde sind die Einkünfte sehr beschränkt. In der Erli werden 12 Abstellplätze vermietet. Weiter betreibt die Burgergemeinde eine Alpwirtschaft und stellt dafür während der Alpzeit jeweils einen Älpler an. Zur Alpwirtschaft gehören das Fenki, der Ällenboden und die Ankenweide. Die Burgergemeinde verfügt über zahlreiche Gebäude, welche es zu unterhalten gilt. Ein Verwaltungsgebäude besteht nicht, die Sitzungen können auf der Gemeindeverwaltung durchgeführt werden. Zudem wurde mit erheblichem Planungsaufwand im Lee eine Deponie bewilligt, wo nun die Schwellengemeinde Geschiebe nach Murgängen kostenpflichtig deponieren kann. Dadurch können weite Transportwege und insbesondere Kosten gespart werden. Die Burgergemeinde ist Mitglied der Weggenossenschaft Därligen mit einem Anteil von 78 %.
        </p>
        <div class="property-images-wrapper flex flex-wrap mt-8 justify-between">
            <div class="text-center">
                <h3>Unser schöner Wald</h3>
                <img src="/forest.jpg" class="max-w-64">
            </div>
            <div class="text-center">
                <h3>Fenkischeune</h3>
                <img src="/hut.jpg" class="">
            </div>
            <div class="text-center">
                <h3>Ankeweid</h3>
                <img src="/ankeweid.jpg" class="">
            </div>
            <div class="text-center">
                <h3>Schutzhütte</h3>
                <img src="/schutzhütte.jpg" class="">
            </div>
        </div>
    </div>
</Layout>