---
import Layout from '../layouts/layout.astro'
---

<Layout>
    <div class="task-wrapper p-8 md:p-16">
        <h1 class="task-header text-5xl text-gray-900 mb-8">
			Aufgaben
		</h1>
        <p>
            Sowohl in der Staatsverfassung als auch Gemeindegesetz des Kantons Bern werden die Aufgaben der Burgergemeinden wie folgt umschrieben:
            <br><br>
            „Die Burgergemeinden setzen sich nach Massgabe ihrer Mittel zum Wohl der Allgemeinheit ein. Sie nehmen ihre angestammten Aufgaben wahr.“
            <br><br>
            Die Burgergemeinde Därligen ist wie die Einwohnergemeinde eine öffentlich-rechtliche Körperschaft nach Gemeindegesetz und untersteht der kantonalen Aufsicht. 
            <span class="font-bold">Die wichtigste und zentrale Aufgabe in Därligen ist die Pflege, die nachhaltige Nutzung und der natürliche Schutz des Waldes. </span>
            Anders als die Einwohnergemeinde finanziert die Burgergemeinde ihre Aufgaben nicht aus Steuereinnahmen, sondern vollumfänglich aus Erträgen ihres Vermögens. Zudem ist die Burgergemeinde im Gegensatz zur Einwohnergemeinde steuerpflichtig.
            <br><br>
            Burgernutzen:
            Die Burgergemeinde Därligen richtet keinen Burgernutzen aus.
        </p>
        <img src="second.png" class="task-image mt-8 mb-4" alt="Vogelperspektive">
    </div>
</Layout>
