---
import { useSanityClient } from '@sanity/astro';
import PortableText from '../../components/sanity/portable-text.astro';
import Layout from '../../layouts/layout.astro';

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map((post: any) => {
    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: { ...post },
    };
  });
}

const { title, body } = Astro.props;
---
<Layout class="min-h-screen">
  <div class="post-wrapper p-16 min-h-[26rem]">
    
    <a href="/" class="hover:underline text-sm">← Zurück zur Übersicht</a>
 
    <h1 class="text-5xl text-gray-900 my-8">{title}</h1>

    <PortableText portableText={body} />
  </div>
</Layout>
