<div class="footer-container w-full text-white bottom-0 row-start-3">
  <div class="upper-footer bg-[#00579F] w-full p-8">
    Gemeindeverwaltung Därligen <br />
    Erli 15 <br />
    3707 Därligen <br />
    Tel 079 422 85 14 <br />
    info@bg-daerligen.ch
  </div>
  <div class="lower-footer bg-[#02447A] p-8 flex">
    <div class="footer-action underline">Login</div>
    <div class="footer-info ml-16">© 2023 Burgergemeinde Därligen</div>
  </div>
</div>
