---
import Header from "../components/header.vue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="../assets/logo.png"> <!-- FIXME -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Burgergemeinde Därligen</title>
	</head>
	<body>
		<div class="xl:mx-32">
			<Header client:load/>
            <slot />
		</div>			
	</body>
</html>